
    <title>Photo Comments</title>

    <style>
        img {
          width: 50%;
          height: 50%;
        }
    </style>

    <h2>Photo Comments</h2>
            <form method="post" action="{{ url_for('findcomment') }}">
                <label for="photoid">Photo ID:</label>
                <input type="text" name="photoid">
                <input type="submit" value="Find Comments"/><br>
                </form>
    {% if photos %}    
        Photo ID : {{photos[0][1]}}<br>
        Caption: {{photos[0][2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photos[0][0]).decode("ascii") }}'><br>
        {%if comments%}
            {% for c in comments %}
                Author: {{c[0]}}{{c[1]}}<br>
                Comment: {{c[2]}}<br>
                <br>
            {% endfor %}
        {%endif%}

        {%if not comments%}
                No Comments
        {%endif%}
    {% endif %}
    <style>
        div{ float: left;}
        
          </style>
        
        <div>
        <ul>
          
          <h3>Photos and Albums</h3>
          <li><a href='/upload'>Upload a photo</a> </li>
          <li><a href='/deletephoto'>Delete a Photo</a></li>
          <li><a href='/tagsearch'>Search Photos</a> </li>
          <li><a href='/photorecom'>Photo Recommendations</a> </li>
          <li><a href='/viewmyphotos'>View My Album</a></li>
          <li><a href='/viewallalbum'>View All existing Album</a></li>  
        
        </ul>
        </div>
        <div>
          <ul>
          <h3>Socialize</h3>
        <li><a href='/friend'>Friends</a> </li>
        <li><a href='/tags'>Tags</a> </li>
        <li><a href='/aphotos'>Everyone's Photos</a></li>
        <li><a href='/commentphoto'>Comment Photos</a></li>
        <li><a href='/commentdisplay'>See Comments</a></li>
        <li><a href='/searchcomment'>Search a Comment</a></li>
        <li><a href='/likephotos'>Like a Photo</a></li>
        </ul>
        </div>
        <div>
          <ul>
        <h3>Your Account</h3>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
        <br>
        
        </ul>
        </div>